@import "primeicons/primeicons.css";

body {
    margin: 0;
}

p-panel {
    .p-panel-header {
        padding: 0.75rem 0.5rem;
        border: none;
        background: white;
        .p-panel-title {
            order: 3 !important;
            font-size: 1.5em;
        }
        .p-panel-icons {
            margin-left: 0;
        }
    }
    .p-panel-content {
        border: none;
        padding: 0em 1.25em;
        font-size: 1.4em;
    }
}

.p-autocomplete {
    width: 100%;
    .p-autocomplete-input {
        width: 93%;
        border-radius: 35px;
        padding: 1.35rem 0.75rem
    }
}

.p-autocomplete-panel {
    border-radius: 10px !important;
    width: 93% !important;
}

.btn {
    .p-button {
        border-radius: 30px;
        background-color: #5167bc !important;
        font-size: 0.75em;
        padding: 1.5em 2.75em;
    }
}

.btn-white {
    .p-button {
        border-radius: 30px;
        background-color: white !important;
        border: 1px solid white;
        color: black;
        font-size: 0.75em;
        padding: 1.5em 2.75em;
    }
}