<div class="app-container">
  <div class="header">
    <div class="header-container">
      <div class="header-menu" (click)="goToHome()" style="cursor: pointer;">Inicio</div>
      <div class="header-menu">Acerca de Nosotros</div>
      <div class="header-menu">Contacto</div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="container1">
      <div class="detail">NutriMed.in es el proyecto de final de carrera de Nutrición y Dietética de la Universidad San Francisco de Quito</div>
      <div class="about-container">
        <div class="about">
          <div>Conócenos</div>
          <div>Alertas</div>
          <div>Estadisticas</div>
        </div>
        <div class="icons"></div>
      </div>
    </div>
    <div class="container2">
      <div>Diseño: Kerly Córdova G. | Desarrollo y Copywriting: Kerly Córdova G.</div>
      <div>Aviso Legal | Politica de Privacidad | Política de Cookies</div>
    </div>
  </div>
</div>
