<div class="drug-container" *ngIf="drugDetail">
    <div class="drug-title">
        <span class="title">{{drugDetail.nombreGenerico}}</span>
        <span class="grupo">{{drugDetail.grupo}}</span>
    </div>
    <div class="drug-info-container">
        <div class="drug-name">
            <div class="name">
                <i class="pi pi-sort-up-fill"></i> Nombres Comerciales
            </div>
            <ul class="names-container">
                <li *ngFor="let item of drugDetail.nombresComerciales">
                    <div class="names-detail">
                        {{item | capitalizeFirst}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="drug-pres">
            <div class="pres">
                <i class="pi pi-sort-up-fill"></i> Presentación
            </div>
            <div class="pres-container">
                <div>
                    {{drugDetail.presentacion | capitalizeFirst}}
                </div>
            </div>
            <div class="admin">
                <i class="pi pi-sort-up-fill"></i> Administración
            </div>
            <div class="admin-container">
                <div>
                    {{drugDetail.administracion | capitalizeFirst}}
                </div>
            </div>
        </div>
        <div class="drug-uses">
            <div class="uses">
                <i class="pi pi-sort-up-fill"></i> Usos
            </div>
            <ul class="uses-container">
                <li *ngFor="let item of drugDetail.usos" class="uses-detail">
                        {{item | capitalizeFirst}}
                </li>
            </ul>
        </div>
    </div>
    <div class="drug-interactions-container">
        <div class="drug-interactions">
            <div class="interactions-title">Interacciones Nutricionales</div>
            <div *ngFor="let interaccion of drugDetail.interacciones" class="interactions-info">
                <p-panel [header]="interaccion.nombreInteraccion" [toggleable]="true" [collapsed]="true">
                    <p>
                        {{interaccion.mecanismo | capitalizeFirst}}
                    </p>
                </p-panel>
            </div>
        </div>
    </div>
    <div class="drug-mecanisms-container">
        <div class="drug-mecanism">
            <div class="title"><i class="pi pi-circle"></i>Mecanismo de Acción</div>
            <div class="detail">{{drugDetail.mecanismoAccion | capitalizeFirst}}</div>
        </div>
        <div class="drug-mecanism">
            <div class="title"><i class="pi pi-circle"></i>Reacciones Adversas</div>
            <div class="detail">{{drugDetail.reaccionesAdversas | capitalizeFirst}}</div>
        </div>
        <div class="drug-mecanism">
            <div class="title"><i class="pi pi-circle"></i>Mecanismo Renal</div>
            <div class="detail">{{drugDetail.mecanismoRenal | capitalizeFirst}}</div>
        </div>
        <div class="drug-mecanism">
            <div class="title"><i class="pi pi-circle"></i>Mecanismo Hepático</div>
            <div class="detail">{{drugDetail.mecanismoHepatico | capitalizeFirst}}</div>
        </div>
    </div>
</div>
