<div class="drug-container" *ngIf="drugDetail">
    <div class="drug-title">
        <span>{{drugDetail.nombreGenerico}}</span>
    </div>
    <div class="drug-info-container">
        <div class="drug-name">
            <div class="name">
                Nombres Comerciales
            </div>
            <div class="names-container">
                <div *ngFor="let item of drugDetail.nombresComerciales">
                    {{item}}
                </div>
            </div>
        </div>
        <div class="drug-pres">
            <div class="pres">
                Presentacion
            </div>
            <div class="pres-container">
                <div>
                    {{drugDetail.presentacion}}
                </div>
            </div>
            <div class="admin">
                Administracion
            </div>
            <div class="admin-container">
                <div>
                    {{drugDetail.administracion}}
                </div>
            </div>
        </div>
        <div class="drug-uses">
            <div class="uses">
                Usos
            </div>
            <div class="uses-container">
                <div *ngFor="let item of drugDetail.usos">
                    {{item}}
                </div>
            </div>
        </div>
    </div>
    <div class="drug-interactions-container">
        <div class="drug-interactions">
            <div class="interactions-title">Interacciones</div>
            <div *ngFor="let interaccion of drugDetail.interacciones" class="interactions-info">
                <p-panel [header]="interaccion.nombreInteraccion" [toggleable]="true" [collapsed]="true">
                    <p>
                        {{interaccion.mecanismo}}
                    </p>
                </p-panel>
            </div>
        </div>
    </div>
    <div class="drug-mecanisms-container">
        <div class="drug-mecanism">
            <div class="title">Mecanismo de Accion</div>
            <div class="detail">{{drugDetail.mecanismoDeAccion}}</div>
        </div>
        <div class="drug-mecanism">
            <div class="title">Reacciones Adversas</div>
            <div class="detail">{{drugDetail.reaccionesAdversas}}</div>
        </div>
        <div class="drug-mecanism">
            <div class="title">Mecanismo Renal</div>
            <div class="detail">{{drugDetail.mecanismoRenal}}</div>
        </div>
        <div class="drug-mecanism">
            <div class="title">Mecanismo Hepatico</div>
            <div class="detail">{{drugDetail.mecanismoHepatico}}</div>
        </div>
    </div>
</div>
