<div class="drug-container">
    <div class="drug-title">
        <span>TITLE</span>
    </div>
    <div class="drug-info-container">
        <div class="drug-name">
            <div class="name">
                Nombres Comerciales
            </div>
            <div class="names-container">
                <div>
                    lorep ipsum
                </div>
            </div>
        </div>
        <div class="drug-pres">
            <div class="pres">
                Presentacion
            </div>
            <div class="pres-container">
                <div>
                    lorep ipsum
                </div>
            </div>
            <div class="admin">
                Administracion
            </div>
            <div class="admin-container">
                <div>
                    lorep ipsum
                </div>
            </div>
        </div>
        <div class="drug-uses">
            <div class="uses">
                Usos
            </div>
            <div class="uses-container">
                <div>
                    lorep ipsum
                </div>
            </div>
        </div>
    </div>
    <div class="drug-interactions">
        <div class="interactions-title">Interacciones</div>
        <p-panel header="Interaction Title" [toggleable]="true" [collapsed]="true">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </p-panel>
    </div>
    <div class="drug-mecanisms-container">
        <div class="drug-mecanism">
            <div>Mecanismo de Accion</div>
            <div>lorep ipsum</div>
        </div>
        <div class="drug-mecanism">
            <div>Reacciones Adversas</div>
            <div>lorep ipsum</div>
        </div>
        <div class="drug-mecanism">
            <div>Mecanismo Renal</div>
            <div>lorep ipsum</div>
        </div>
        <div class="drug-mecanism">
            <div>Mecanismo Hepatico</div>
            <div>lorep ipsum</div>
        </div>
    </div>
</div>
