.drug-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #dbe1ff40;

    .drug-title {
        width: 100%;
        padding: 3em;
        height: 10em;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            color: #0c888a;
            font-weight: bold;
            font-size: 3em;
        }
    }

    .drug-info-container {
        display: flex;
        width: 100%;
        justify-content: center;

        .drug-name {
            width: 31%;
            display: flex;
            flex-direction: column;
            background: #cae1ff8c;
            padding: 2.25em;

            .name {
                font-size: 1.75em;
                font-weight: bold;
                display: flex;
                align-items: center;
                i {
                    font-size: 0.6em;
                    padding-top: 0.25em;
                    rotate: 90deg;
                }
            }

            .names-container {
                padding: 1.25em 1.75em;
                .names-detail {
                    font-size: 1.4em;
                    padding-bottom: 0.5em;
                }
            }
        }

        .drug-pres {
            width: 31%;
            display: flex;
            flex-direction: column;
            background: white;
            padding: 2.25em;

            .pres {
                font-size: 1.75em;
                font-weight: bold;
                i {
                    font-size: 0.6em;
                    padding-top: 0.25em;
                    rotate: 90deg;
                }
            }

            .pres-container {
                padding: 1.25em 1.75em;
                div {
                    font-size: 1.4em;
                    padding-bottom: 0.5em;
                }
            }

            .admin {
                font-size: 1.75em;
                font-weight: bold;
                i {
                    font-size: 0.6em;
                    padding-top: 0.25em;
                    rotate: 90deg;
                }
            }

            .admin-container {
                padding: 1.25em 1.75em;
                div {
                    font-size: 1.4em;
                    padding-bottom: 0.5em;
                }
            }
        }

        .drug-uses {
            width: 31%;
            display: flex;
            flex-direction: column;
            background: #cae1ff8c;
            padding: 2.25em;

            .uses {
                font-size: 1.75em;
                font-weight: bold;
                i {
                    font-size: 0.6em;
                    padding-top: 0.25em;
                    rotate: 90deg;
                }
            }

            .uses-container {
                padding: 1.25em 1.75em;
                .uses-detail {
                    font-size: 1.4em;
                    padding-bottom: 0.5em;
                }
            }
        }
    }

    .drug-interactions-container {
        width: 100%;
        height: 10em;
        height: auto;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5em;
        .drug-interactions {
            width: 93%;
            background: white;
            padding-bottom: 3em;
            .interactions-title {
                width: 100%;
                padding: 1em 1.25em;
                font-size: 2.5em;
                color: #0c888a;
            }
            .interactions-info {
                width: 100%;
                display: flex;
                justify-content: center;
                p-panel {
                    width: 93%;
                }
            }
        }
    }

    .drug-mecanisms-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2em;
        .drug-mecanism {
            padding: 2em 6em;
            .title {
                font-size: 1.75em;
                font-weight: bold;
                color: #0c888a;
                display: flex;
                align-items: center;
            }
            .detail {
                padding: 1em 0em;
                font-size: 1.5em;
            }
        }
    }
}

.pi-circle-fill {
    font-size: 0.2em;
}

.pi-circle {
    font-size: 0.45em;
    padding-right: 0.5em;
}