<div class="home-container">
    <div class="home-title">
        <div class="title">
            NuMed.in
        </div>
        <div class="description">
            Plataforma de búsqueda para uso del nutricionista de las interacciones fármaco-nutriente mas comúnes.
        </div>
    </div>
    <div class="home-search">
        <div class="search-title">
            Busca las interacciones más comúnes entre fármacos y nutrientes
        </div>
        <div class="search-input">
            <p-autoComplete
            [(ngModel)]="selectedDrug"
            [suggestions]="filteredDrugs"
            (completeMethod)="filterDrug($event)"
            (onSelect)="onDrugSelected($event)"
            [emptyMessage]="'No se han encontrado resultados'"
            appendTo="body"
            optionLabel="label" />
        </div>
        <div class="search-text">
            Algunos ejemplos: metformina, enalapril, levotiroxina
        </div>
    </div>
    <div class="home-more-info">
        <div class="envejecimiento">
            <div class="title">Enjevecimiento</div>
            <div class="info">Es un proceso que afecta a los seres vivos como consecuencia del paso del tiempo y causa cambios estructurales y funcionales en los órganos.
                Esto afecta al organismo resultando en una menor capacidad de adaptación y de respuesta al mundo exterior.
            </div>
            <div class="button">
                <p-button class="btn" label="Mas Informacion Aqui" />
            </div>
        </div>
        <div class="polifarmacia">
            <div class="title">Polifarmacia</div>
            <div class="info">Se entiende como la ingesta de 5 o más medicamentos al dia por un mismo paciente y, hoy en dia, es considerada un problema de salud pública a nivel mundial.</div>
            <div class="button">
                <p-button class="btn-white" label="Mas Informacion Aqui" />
            </div>
        </div>
    </div>
    <div class="home-sabias-que">
        <div class="title">¿Sabias que?</div>
        <div class="description">10 principales causas de muerte de 65 y más años (adultos mayores)</div>
        <div class="chart"></div>
        <div class="footer">
            En el Ecuador, dentro de las 10 principales causas de mortalidad en los años 2022 y 2023 se encuentran enfermedades
            cronicas no transmisibles (ECNT) como: enfermedades isquémicas del corazón, diabetes mellitus e hipertensión arterial.
        </div>
        <div class="link">
            <a target="_blank" href="https://www.ecuadorencifras.gob.ec/documentos/web-inec/Poblacion_y_Demografia/Defunciones_Generales/2023/Principales_resultados_EDG_2023.pdf">Estadisticas Vitales 2024</a> 
        </div>
    </div>
    <div class="home-perfil-demo">
        <div class="title">Perfil Demográfico</div>
        <div class="charts-container">
            <div class="main-chart-container">
                <div class="main-chart">
                    <div class="graph"></div>
                </div>
                <div class="info">
                    <div class="detail">
                        Cociente entre la población total de 65 años o más, respecto a la población total de 0 y 14 años
                    </div>
                    <div class="image"></div>
                    <div class="note">
                        Índice de vejez 35
                    </div>
                </div>
            </div>
            <div class="secondary-chart-container">
                <div class="info">
                    Los datos del VII Censo de Población en el Ecuador correspondientes al año 2022, contabilizaron un total de 
                    1.520.290 personas mayores a 65 años, con más mujeres adultas (53,6%) que hombres (46.4%). 
                </div>
                <div class="secondary-chart"></div>
                <div class="footer">
                    Conoce más en <a target="_blank" href="https://censoecuador.ecudatanalytics.com/">Censo Ecuador</a>
                </div>
            </div>
        </div>
    </div>
</div>
