<div class="home-container">
    <div class="home-title">
        <div class="title">
            NuMed.in
        </div>
        <div class="description">
            Plataforma de busqueda para uso del nutricionista de las interacciones farmaco-nutriente mas comunes.
        </div>
    </div>
    <div class="home-search">
        <div class="search-title">
            Busca las interacciones mas comunes entre farmacos y nutrientes
        </div>
        <div class="search-input">
            <p-autoComplete
            [(ngModel)]="selectedDrug"
            [suggestions]="filteredDrugs"
            (completeMethod)="filterDrug($event)"
            (onSelect)="onDrugSelected($event)"
            appendTo="body"
            optionLabel="label" />
        </div>
        <div class="search-text">
            Algunos ejemplos: metformina, enalapril, levotiroxina
        </div>
    </div>
    <div class="home-more-info">
        <div class="envejecimiento"></div>
        <div class="polifarmacia"></div>
    </div>
    <div class="home-sabias-que">
        <div class="title">¿Sabias que?</div>
        <div class="description">10 principales causas de muerte de 65 y mas años (adultos mayores)</div>
        <div class="chart"></div>
        <div class="footer">
            En el Ecuador, dentro de las 10 principales causas de mortalidad en los años 2022 y 2023 se encuentran enfermedades
            cronicas no transmisibles (ECNT) como: enfermedades isquemicas del corazon, diabetes mellitus e hipertension arterial.
        </div>
    </div>
    <div class="home-perfil-demo">
        <div class="title">Perfil Demografico</div>
        <div class="charts-container">
            <div class="main-chart-container">
                <div class="main-chart"></div>
                <div class="info">
                    <div class="detail">
                        Cociente entre la poblacion total de 65 años o mas, respecto a la poblacion total de 0 y 14 años
                    </div>
                    <div class="image"></div>
                    <div class="note">
                        Indice de vejez 35
                    </div>
                </div>
            </div>
            <div class="secondary-chart-container">
                <div class="info">
                    Los datos del VII Censo de Poblacion en el Ecuador correspondientes al año 2022, contabilizaron un total de 
                    1.520.290 personas mayores a 65 años, con mas mujeres adultas (53,6%) que hombres (46.4%). 
                </div>
                <div class="secondary-chart"></div>
                <div class="footer">
                    Conoce mas en <a href="http://">Censo Ecuador</a>
                </div>
            </div>
        </div>
    </div>
</div>
